@import "reset";

.user-list{
  list-style-type: none;

  .user{
    background-color: green;
    height: 150px;

    img{
      height: 80%;
      width: 100px;
    }

    .name{

    }

    .email{

    }
  }
}
